body h1 {
  font-size: 75px;
  font-weight: 100;
  color: #1864ab;
  padding: 40px;
  text-align: center;
}
body .container .container__eventForm {
  background-color: blue;
  display: flex;
  justify-content: space-evenly;
  height: 100px;
}
body .container .container__eventForm .container__eventForm__form {
  background-color: green;
}
body .container .container__eventForm .container__eventForm__Add {
  background-color: yellow;
}
body .container .container__eventDescription {
  background-color: indianred;
  height: 100px;
  display: flex;
  justify-content: space-between;
  margin: 0 40px 0 40px;
}
body .container .container__eventDescription .container__eventDescription__info {
  background-color: aqua;
}
body .container .container__eventDescription .container__eventDescription__edit {
  background-color: orange;
}
body .container .container__eventDescription .container__eventDescription__edit .container__eventDescription__edit_modify, body .container .container__eventDescription .container__eventDescription__edit .container__eventDescription__edit_add {
  background-color: #1864ab;
  color: #ffffff;
  font-weight: 700;
  border: #0a2c4c solid 1px;
  border-radius: 10px;
}
body .container .container__eventDescription .container__eventDescription__edit .container__eventDescription__edit_delete {
  background-color: #1864ab;
  color: #ffffff;
  font-weight: 700;
  border: #0a2c4c solid 1px;
  border-radius: 10px;
  background-color: #8b000e;
}