@import './mixin.scss';
@import './variables.scss'; 

body{
    margin: 0 auto;
    header{
        background-color: $blue;
        h1{
            @include title(); 
            margin:0; 
        }
    }
    .container{
        padding-top: 50px;
        .container__eventForm{
            // background-color: blue;
            display: flex;
            justify-content: space-evenly;
            & button {
                @include addBtn(); 
                &:hover{
                    cursor: pointer;
                }
            }
            input[type=date]{
                & :hover{
                    background-color: $blue;
                }
            }
        }
        .container__eventsTable{
            // background-color: lightcoral;
            .container__eventsTable__event{
                margin-bottom: 80px;
                h2{
                    @include subTitle;
                    margin: 10px 0 10px 0; 
                }
                p{
                    @include txt; 
                }
                button{
                    margin: 0 4px 0 4px;
                }
            }
        }
    }
}