@import './mixin.scss';
@import './variables.scss';

@font-face {
    font-family: open;
    src: url(../font/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}



body{
    margin: 0 auto;
    font-family: open;
    header{
        background-color: $blue;
        border-bottom: $blueBorder solid 3px; 
        h1{
            @include title; 
            margin:0; 
        }
    }
    .container{
        padding: 50px 0 50px 0; 
        background-image: url("https://images.unsplash.com/photo-1576516542483-d86a298dbded?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1936&q=80");
        background-size: cover;
        .container__eventForm{
            display: flex;
            justify-content: center;
            & button {
                @include addBtn;
                border-radius: 100px;
                width: 25px;
                height: 25px;
                font-family: 18px;
                font-weight: 600; 
                &:hover{
                    cursor: pointer;
                    background-color: $hover;
                }
            }
            .container__eventForm__form_dates{
                margin-left: 40px;
                border-radius: 100%;
            }
        }
        .container__eventsTable{
            margin: 50px 120px 50px 120px;
            .container__eventsTable__event{
                margin: 50px; 
                background-color: rgba(238, 238, 238, 0.5); 
                backdrop-filter: blur(10px);
                padding: 10px 0 30px 0;
                border-radius: 30px;
                border: $blueBorder solid 2px;
                .container__eventsTable__event__top{
                    display: flex;
                    justify-content: space-between; 
                    margin: 20px;
                    h2{
                        @include subTitle; 
                    }
                    p{
                        @include txt; 
                    }
                    button{
                        @include addBtn; 
                        margin: 0 5px 0 5px;
                        padding: 5px 10px 5px 10px;
                        border-radius: 8px;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
                .container__eventsTable__event__bottom{
                    display: flex;
                    justify-content: center; 
                    margin : 30px 0 30px 0; 
                    text-align: center;
                    table{
                        border-collapse: collapse;
                        background-color: $blueBorder;
                        th, td{
                            border-bottom: $lightGrey solid 2px ;
                        }
                        th{
                            @include headTab;
                            height: 30px;
                        }
                        td{
                            color:$txtColor;
                            width: 100px ; 
                            height: 30px;
                        }
                    }
                    button{
                        @include addAttend; 
                        border-color: $grey $blue;
                        &:hover{
                            background-color: $hover;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        form{
            display: flex; 
            justify-content: center;
            width: fit-content;
            margin: auto;
            padding: 10px 20px 10px 20px; 
            background-color: $blue;
            color : $txtColor;  
            border : $blueBorder solid 1px;
            font-size: 14px;
            label{
                margin-right: 10px; 
            }
            & button{
                background-color: $blueBorder; 
                border: $txtColor solid 1px; 
                border-radius: 5px;
                color : $txtColor; 
                margin-left: 10px;
            }
        }
        #eventDialog{
            @include dialog; 
            input{
                margin: 10px;
            }
            button{
                @include addAttend;
                background-color: $blueBorder;
                border: $txtColor solid 1px;
                border-radius: 8px;
                padding: 5px 10px 5px 10px;
                margin: 0 5px 0 5px;
                &:hover{
                    background-color: $hover;
                    cursor: pointer;
                }
            }
        }
    }
    footer{
        height: 80px;
        background-color: $blueBorder;
        color: $txtColor;
        text-align: center;
        font-size: 12px;
        display: flex;
        justify-content: center;
        p{
            align-self: center;
            word-spacing: 2px;
            a{
                text-decoration: none;
                color : $txtColor; 
                &:hover {
                    color : #58fb00; 
                    cursor: pointer;
                }
            }
        }
        //Code pour la coloration des icon 'present-absent' : 
        // .check{
        //     filter: invert(76%) sepia(8%) saturate(4130%) hue-rotate(81deg) brightness(96%) contrast(74%);
        // }
        // .delete{
        //     filter: invert(24%) sepia(95%) saturate(2001%) hue-rotate(335deg) brightness(82%) contrast(97%);
        // }
    }
}